/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';



/* 3rd-party */
/* ikoneles ar but strap*/
/*  kitu asmenu pakurtus failus*/

/* components */
/* forma, buttonai, headeris , footeris*/
@import './components//button.css';
@import './components/form.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

.simba {
    color: red;
    text-transform: uppercase;
}

.darzove {
    font-style: italic;
    font-size: 20px;
}

.pavadinimas {
    text-transform: uppercase;
    font-style: italic;
    font-size: 40px;
}

.pomidoras {
    color: red;
    font-size: 20px;
}


body {
    background-color: #eee;
}